.common-footer {
    overflow: hidden;
    padding: 35px 20px 60px 20px;
    background-color: #191919;
    color: #fff;
}
.common-footer nav {
    max-width: 990px;
    width: 100%;
    margin: 0 auto;
}
.common-footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
    border-bottom: 1px solid #fff;
}
.common-footer-top img {
    width: 180px;
    height: auto;
}
.common-footer-social-icons {
    display: flex;
    align-items: center;
    gap: 40px;
}
.common-footer-bottom-col {
    width: 25%;
}
.common-footer-bottom-links {
    display: flex;
    font-size: 14px;
    width: 100%;
    padding: 20px 0;
    gap: 40px;
}
.common-footer-bottom-links h3 {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 20px;
    white-space: nowrap;
}
.common-footer-bottom-links ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.common-footer-bottom-links ul a {
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    text-decoration: none;
}
.common-footer-bottom-links ul a:hover {
    color: #3b70d6;
}
.common-footer-copyright {
    display: flex;
    justify-content: end;
    align-items: center;
    font-size: 14px;
    font-weight: 700;
    color: #fff;
}