.tour-itinerary-container {
    max-width: 1208px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
}
.tour-itinerary-container section {
    width: 100%;
    max-width: 670px;
}
.tour-itinerary-container section h2 {
    margin-bottom: 16px;
    font-size: 28px;
    font-weight: 700;
    line-height: 36.4px;
    color: #191919;
}
.tour-itinerary-map-img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 32px;
}
.tour-itinerary-day-by-day {
    margin-bottom: 20px;
}
.tour-itinerary-day-by-day section {
    border-left: 1px solid #191919;
    border-image: linear-gradient(to top, transparent, currentColor 16px 1);
    padding-left: 16px;
    padding-bottom: 16px;
    contain: layout;
}
.tour-itinerary-day-by-day section:last-child {
    padding-bottom: 1px;
} 
.tour-itinerary-day-by-day section h3 {
    font-weight: 800;
    line-height: 1.5;
    font-size: 17px;
    margin-bottom: 8px;
    color: #191919;
    position: relative;
}
.tour-itinerary-day-by-day section h3 svg {
    position: absolute;
    left: calc(-20px);
    top: 50%;
    transform: translateY(-50%);
    width: 7px;
    height: 7px;
}
.tour-itinerary-day-by-day section p {
    font-size: 15px;
    line-height: 24px;
}
.tour-itinerary-container section button {
    min-height: 48px;
    background-color: #386dd1;
    color: #fff;
	border: none;
	padding: 0 25px;
	outline: none;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 60px;
}
.tour-itinerary-travel-questions {
    width: 100%;
    background-color: #fbdc70;
    color: #191919;
    padding: 32px;
    margin-bottom: 60px;
}
.tour-itinerary-travel-questions span {
    display: block;
    font-size: 14px;
    font-weight: 800;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin-bottom: 8px;
}
.tour-itinerary-travel-questions h4 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: 8px;
}
.tour-itinerary-travel-questions p {
    font-size: 15;
    font-weight: 300;
    line-height: 24px;
    margin: 0;
}